
html{
		height: 100%;
	}

	body{
		height: 100%;
		color: #E4E4E4;
}

nav ul{															
	list-style-type: none;
	margin: 0;
	padding-right: 0;
	padding-left: 0;
	overflow: hidden;
	background-color: #333;
}

nav li{
	float: left;
	width: 20%;
}

nav li a{
	display: block;
	color: white;
	text-align: center;
	padding: 12px 0px;
	text-decoration: none;
}

nav li a:hover{
	background-color: #111;
	text-decoration: none;
}

#wholePage{/*used to make whole page responsive in addition to bootstrap*/
	min-width: 800px; 
	max-width: 1280px;/*total width is 1290*/
	margin-left: auto;
	margin-right: auto;
	padding: 0px 5px;
	position: relative;
}


#top h1{
	text-align: center;
	margin-bottom: 0px;
}

#top h1 img{
	height: 26%;
	width: 26%;	
}

#top {
	background-image: url('images/MishimaDojo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%; 
}

.parallaxEffect{
	
	background-image: url("images/Basic1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.basic{
	background-color: rgba(0,0,0,0.7);
	color: white;
	text-align: center;
	font-weight: bold;
	margin: 0 0 150px;
	padding: 1% 5% 1%;
}

.basic p{
	font-style: normal;
}


table{
	margin: 2% 38% 0%;
	width: 275px;

}

td, th {
  border: 3px solid firebrick;
  text-align: left;
  padding: 8px;
}

@media screen and (max-width: 1150px){
		table{
			margin: 2% 29% 0%;
		}

.parallaxEffect{	
	background-image: url("images/Basic1.jpg");
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: auto;
}

.basic{
	background-color: rgba(0,0,0,0.7);
	color: white;
	text-align: center;
	font-weight: bold;
	margin: 0 50px 150px;
	padding: 4%;
}
	}

	@media (orientation: landscape) and (max-width: 1150px){

.parallaxEffect{	
	background-image: url("images/Basic1.jpg");
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.basic{
	background-color: rgba(0,0,0,0.7);
	color: white;
	text-align: center;
	font-weight: bold;
	margin: 0 95px 150px;
	padding: 4%;
}

table{
			margin: 2% 25% 0%;
		}
	}

p{
	margin: 0;
	font-style: italic;
	font-size: 18px;
}