#wholePage{
	min-width: 793px;
}

.tile {
	border: 3px solid #333;
	margin: 20px 20px;
	position: relative;
	display: inline-block;
	background-color: #ac1b1b;
}

.tile img{
	height: 150px;
	width: 150px;
}

.tile p{
	position: absolute;
	bottom: 8px;
	left: 55px;
	/*color: #00FF00;*/
}

.tile:hover {
	box-shadow: 0 8px 16px 0 rgba(11, 68, 145,1);
}

.not-done img {
    cursor: not-allowed;
    opacity: 0.4;
}

*{
margin: 0;
padding: 0;
}

body{
background-color: #1C2833;
}

#top {
background-image: url('images/MishimaDojo.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 40%; 
}

#top h1 img{
height: 25%;
width: 25%;	
}

#top h1{
text-align: center;
margin-bottom: 0;
}

nav ul{
list-style-type: none;
margin: 0;
padding-right: 0;
padding-left: 0;
font-weight: bold;
overflow: hidden;
background-color: #333;
}

nav li{
float: left;
width: 25%;
}

nav li a{
display: block;
color: white;
text-align: center;
padding: 12px 0px;
text-decoration: none;
}

nav li a:hover{
background-color: #111;
text-decoration: none;
}

.main{
background-color: gray;
width: 50%;
margin: auto;
text-align: center;
}

/*.main h1{
color: #B71C1C;
text-align: center;	
}*/
